@import '../global-style.module.scss';

.wrapper {
    width: 50%;
    margin-left: 3%;
    @media (max-width:760px) {
        width: 90%;
        margin: auto;
    }
}


.btn{
    background: #24cee6;
    width: 200px;
    line-height: 40px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    margin-left: auto;
    &:hover {
        background: #1eadc1;
    }
}